<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    
    
    <add key="MYSQL_SERVER" value="localhost"/>
    <add key="MYSQL_DATABASE" value="mydb"/>
    <add key="MYSQL_USER" value="root"/>
    <add key="MYSQL_PASS" value="root"/>
    
    
  </appSettings>
</configuration>